# NoSQL

# Advantages

- 1. Elastic scaling
- 2. Big data
- 3. Easily maintained
- 4. Economic
- 5. Flexible data models

# EXTRACT

# Avito Online Classifieds

https://www.kaggle.com/c/avito-demand-prediction/data


- item_id - Ad id.
- user_id - User id.
- region - Ad region.
- city - Ad city.
- parent_category_name - Top level ad category as classified by Avito's ad model.
- category_name - Fine grain ad category as classified by Avito's ad model.
- param_1 - Optional parameter from Avito's ad model.
- param_2 - Optional parameter from Avito's ad model.
- param_3 - Optional parameter from Avito's ad model.
- title - Ad title.
- description - Ad description.
- price - Ad price.
- item_seq_number - Ad sequential number for user.
- activation_date- Date ad was placed.
- user_type - User type.
- image - Id code of image. Ties to a jpg file in train_jpg. Not every ad has an image.
- image_top_1 - Avito's classification code for the image.
- deal_probability - The target variable. This is the likelihood that an ad actually sold something. It's not possible to verify every transaction with certainty, so this column's value can be any float from zero to one.

# Open CSV

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C://users/stephen/datascience/avito/train.csv")

In [4]:
df.head()

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177
3,02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,NaN,NaN,Автокресло,Продам кресло от0-25кг,2200.0,286,2017-03-25,Company,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,0.80323
4,7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2110,"ВАЗ 2110, 2003",Все вопросы по телефону.,40000.0,3,2017-03-16,Private,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,0.20797

# What questions would we like to ask of our data? (Queries)

** 1. We will want to see which product categories are selling for the most money **

In [111]:
cats = df.groupby(['parent_category_name', 'category_name'])['price'].sum()

In [112]:
cats

parent_category_name  category_name
Бытовая электроника   Аудио и видео                   1.968854e+08
                      Игры, приставки и программы     8.243856e+07
                      Настольные компьютеры           6.950350e+07
                      Ноутбуки                        1.334289e+08
                      Оргтехника и расходники         3.441926e+07
                      Планшеты и электронные книги    4.319063e+07
                      Телефоны                        1.938713e+09
                      Товары для компьютера           5.637060e+08
                      Фототехника                     7.364336e+07
Для бизнеса           Готовый бизнес                  5.209337e+09
                      Оборудование для бизнеса        5.425002e+09
Для дома и дачи       Бытовая техника                 2.606514e+08
                      Мебель и интерьер               2.023284e+09
                      Посуда и товары для кухни       2.142016e+07
                      Продукты питания                5.274226e+06
                      Растения                        1.836789e+07
                      Ремонт и строительство          1.084759e+09
Животные              Аквариум                        1.354913e+07
                      Другие животные                 9.801787e+08
                      Кошки                           9.737217e+07
                      Птицы                           1.851115e+08
                      Собаки                          7.089205e+07
                      Товары для животных             4.808048e+07
Личные вещи           Детская одежда и обувь          2.604730e+09
                      Красота и здоровье              1.280701e+08
                      Одежда, обувь, аксессуары       2.296223e+09
                      Товары для детей и игрушки      4.054986e+08
                      Часы и украшения                2.020404e+08
Недвижимость          Гаражи и машиноместа            1.695063e+09
                      Дома, дачи, коттеджи            6.824070e+10
                      Земельные участки               1.160179e+11
                      Квартиры                        1.577530e+11
                      Коммерческая недвижимость       4.387208e+10
                      Комнаты                         3.147423e+09
                      Недвижимость за рубежом         1.212661e+09
Транспорт             Автомобили                      2.316548e+10
                      Водный транспорт                5.528821e+08
                      Грузовики и спецтехника         6.438169e+09
                      Мотоциклы и мототехника         7.141610e+08
Услуги                Предложение услуг               5.571786e+08
Хобби и отдых         Билеты и путешествия            6.572878e+07
                      Велосипеды                      8.451264e+07
                      Книги и журналы                 1.207772e+08
                      Коллекционирование              9.045866e+08
                      Музыкальные инструменты         8.081815e+07
                      Охота и рыбалка                 2.011413e+07
                      Спорт и отдых                   2.527344e+08
Name: price, dtype: float64

In [141]:
cat_df = pd.DataFrame(columns = ['parent_cat', 'cat', 'price'])

** We need to parse the group by object as it returns a tuple containing the parent_category and category name then finally add the price **

In [218]:
vals = []

for i in list(cats.items()):
    par = i[0][0] # slicing tuple
    cat = i[0][1]
    price = i[1] #indexing the price
    
    vals.append({'parent_cat': par, 'cat': cat, 'price': price})

In [148]:
for row in vals:
    cat_df = cat_df.append(row, ignore_index = True)

In [149]:
cat_df

             parent_cat                           cat         price
0   Бытовая электроника                 Аудио и видео  1.968854e+08
1   Бытовая электроника   Игры, приставки и программы  8.243856e+07
2   Бытовая электроника         Настольные компьютеры  6.950350e+07
3   Бытовая электроника                      Ноутбуки  1.334289e+08
4   Бытовая электроника       Оргтехника и расходники  3.441926e+07
5   Бытовая электроника  Планшеты и электронные книги  4.319063e+07
6   Бытовая электроника                      Телефоны  1.938713e+09
7   Бытовая электроника         Товары для компьютера  5.637060e+08
8   Бытовая электроника                   Фототехника  7.364336e+07
9           Для бизнеса                Готовый бизнес  5.209337e+09
10          Для бизнеса      Оборудование для бизнеса  5.425002e+09
11      Для дома и дачи               Бытовая техника  2.606514e+08
12      Для дома и дачи             Мебель и интерьер  2.023284e+09
13      Для дома и дачи     Посуда и товары для кухни  2.142016e+07
14      Для дома и дачи              Продукты питания  5.274226e+06
15      Для дома и дачи                      Растения  1.836789e+07
16      Для дома и дачи        Ремонт и строительство  1.084759e+09
17             Животные                      Аквариум  1.354913e+07
18             Животные               Другие животные  9.801787e+08
19             Животные                         Кошки  9.737217e+07
20             Животные                         Птицы  1.851115e+08
21             Животные                        Собаки  7.089205e+07
22             Животные           Товары для животных  4.808048e+07
23          Личные вещи        Детская одежда и обувь  2.604730e+09
24          Личные вещи            Красота и здоровье  1.280701e+08
25          Личные вещи     Одежда, обувь, аксессуары  2.296223e+09
26          Личные вещи    Товары для детей и игрушки  4.054986e+08
27          Личные вещи              Часы и украшения  2.020404e+08
28         Недвижимость          Гаражи и машиноместа  1.695063e+09
29         Недвижимость          Дома, дачи, коттеджи  6.824070e+10
30         Недвижимость             Земельные участки  1.160179e+11
31         Недвижимость                      Квартиры  1.577530e+11
32         Недвижимость     Коммерческая недвижимость  4.387208e+10
33         Недвижимость                       Комнаты  3.147423e+09
34         Недвижимость       Недвижимость за рубежом  1.212661e+09
35            Транспорт                    Автомобили  2.316548e+10
36            Транспорт              Водный транспорт  5.528821e+08
37            Транспорт       Грузовики и спецтехника  6.438169e+09
38            Транспорт       Мотоциклы и мототехника  7.141610e+08
39               Услуги             Предложение услуг  5.571786e+08
40        Хобби и отдых          Билеты и путешествия  6.572878e+07
41        Хобби и отдых                    Велосипеды  8.451264e+07
42        Хобби и отдых               Книги и журналы  1.207772e+08
43        Хобби и отдых            Коллекционирование  9.045866e+08
44        Хобби и отдых       Музыкальные инструменты  8.081815e+07
45        Хобби и отдых               Охота и рыбалка  2.011413e+07
46        Хобби и отдых                 Спорт и отдых  2.527344e+08

In [117]:
cats.head()

parent_category_name  category_name
Бытовая электроника   Аудио и видео                  196885444.0
                      Игры, приставки и программы     82438559.0
                      Настольные компьютеры           69503505.0
                      Ноутбуки                       133428918.0
                      Оргтехника и расходники         34419258.0
Name: price, dtype: float64

** 2. We will also want to perform queries to analyze listing prices of a particular region/city. So we will create another dataframe that contains these. It will later have it's own table in our NoSQL database **

In [156]:
regions = df.groupby(["region", "city"])['price'].sum()

In [157]:
region_df = pd.DataFrame(columns = ['region', 'city', 'price'])

In [158]:
vals = []

for i in list(regions.items()):
    region = i[0][0]
    city = i[0][1]
    price = i[1]
    
    vals.append({'region': region, 'city': city, 'price': price})

In [159]:
for row in vals:
    region_df = region_df.append(row, ignore_index = True)

In [160]:
region_df

                   region                  city         price
0          Алтайский край                Алейск  2.199207e+07
1          Алтайский край             Алтайское  1.960618e+07
2          Алтайский край                 Баево  2.895200e+06
3          Алтайский край               Барнаул  3.404534e+09
4          Алтайский край            Белокуриха  7.425379e+07
5          Алтайский край              Белоярск  9.871100e+05
6          Алтайский край             Березовка  5.411800e+06
7          Алтайский край                 Бийск  7.828141e+08
8          Алтайский край          Благовещенка  8.394040e+06
9          Алтайский край              Боровиха  5.366400e+06
10         Алтайский край                 Бурла  3.061900e+06
11         Алтайский край         Быстрый Исток  4.785000e+05
12         Алтайский край        Верх-Катунское  1.608000e+06
13         Алтайский край               Волчиха  9.891800e+06
14         Алтайский край                Горняк  1.601267e+07
15         Алтайский край              Ельцовка  6.960000e+05
16         Алтайский край             Завьялово  9.593500e+06
17         Алтайский край              Залесово  5.669500e+06
18         Алтайский край               Заринск  5.043466e+07
19         Алтайский край           Змеиногорск  9.193165e+06
20         Алтайский край             Зональное  2.073220e+06
21         Алтайский край              Зудилово  1.440000e+07
22         Алтайский край              Калманка  1.086230e+07
23         Алтайский край         Камень-на-Оби  5.925978e+07
24         Алтайский край                 Ключи  2.245800e+06
25         Алтайский край                Косиха  6.807500e+06
26         Алтайский край         Красногорское  5.818000e+06
27         Алтайский край          Краснощеково  1.371035e+07
28         Алтайский край               Крутиха  1.177190e+06
29         Алтайский край               Кулунда  1.379365e+07
...                   ...                   ...           ...
1774  Челябинская область                 Чесма  2.822150e+07
1775  Челябинская область           Южноуральск  1.496754e+08
1776  Челябинская область               Юрюзань  2.360096e+07
1777  Ярославская область          Большое Село  5.653220e+06
1778  Ярославская область        Борисоглебский  1.936995e+07
1779  Ярославская область              Брейтово  2.981850e+06
1780  Ярославская область             Бурмакино  3.120700e+06
1781  Ярославская область                 Волга  1.350300e+06
1782  Ярославская область           Гаврилов-Ям  2.314973e+07
1783  Ярославская область               Данилов  1.533420e+07
1784  Ярославская область                 Дубки  5.911200e+06
1785  Ярославская область                  Ишня  9.900000e+06
1786  Ярославская область      Константиновский  6.202010e+06
1787  Ярославская область         Красные Ткачи  7.315050e+06
1788  Ярославская область         Лесная Поляна  1.393350e+07
1789  Ярославская область                 Любим  3.708730e+06
1790  Ярославская область                Мышкин  3.153149e+07
1791  Ярославская область          Некрасовское  3.664295e+07
1792  Ярославская область          Новый Некоуз  9.516950e+06
1793  Ярославская область  Переславль-Залесский  2.190377e+08
1794  Ярославская область            Петровское  9.018392e+06
1795  Ярославская область             Пошехонье  1.317619e+07
1796  Ярославская область             Пречистое  5.043500e+06
1797  Ярославская область                Ростов  8.736999e+07
1798  Ярославская область               Рыбинск  4.308217e+08
1799  Ярославская область           Семибратово  5.753100e+06
1800  Ярославская область               Туношна  7.800000e+05
1801  Ярославская область                Тутаев  8.334898e+07
1802  Ярославская область                 Углич  1.030151e+08
1803  Ярославская область             Ярославль  2.723194e+09

[1804 rows x 3 columns]

** 3. Now we would like to know some information about particular users and the items which they are selling as well as price. We will once again perform a groupby in pandas to extract this information designing our template for our NoSQL database**

In [221]:
user = df.groupby(['user_id', 'item_id'])['price'].sum()

In [222]:
user

user_id       item_id
0000312c4672  daf6372193bf       9000.0
0000326c6042  738274adfd4c       4500.0
              8b2644d943b9       2500.0
000041bbfe14  0668052f1187        600.0
00007ac91e3b  1f294faa133e        600.0
0000ae7a109b  2200facb389c        300.0
              4bbb8d9fc0b0        800.0
              a152bfe57f8d        250.0
              e10d8fb6ceba        300.0
0000ba56add7  12ef785613d7       1500.0
              1f82e2feffe0        700.0
              887752eef45c        500.0
0000c92ec9da  7cc62860e790      12000.0
0000d3a89c6c  b9e9cea86bc4          0.0
00010065b954  8ce5876e9e35       5700.0
00015192e150  fcddd183589b      85000.0
000174d99005  6e01a0f71296      11999.0
000178adae29  9714e608c4eb        900.0
              f7b5726ea8e0       1500.0
000185c6e01e  b0e50a8663dc         10.0
              fcfb11cf17dc          0.0
00019abf543d  16f6ef4b7319        500.0
              5e25eeb0b5b1        300.0
              943e8cc6f2fa        250.0
              a214426bded2        250.0
              a3b78bdbbe67       1000.0
              aeb006c7f165        450.0
              b99da3900a5f        150.0
              bd889cfa017e        200.0
              cedf8e49b0f8       1000.0
                                ...
fffe5b7fc44e  6b731ab5377e      14000.0
fffe87a330c2  59c1becc01d8     100000.0
fffe978b5c51  17698efabc3c        500.0
              7eee42bce5a2       1000.0
              f1003421dc9e        400.0
fffe9ff0cd87  b74fe402115a       5000.0
fffea1abc31a  c49964d9733e       1200.0
fffecb77de89  206adf66d259        470.0
              2ae9f28c0818        500.0
              738377b47c5b        550.0
fffed55454dc  79b9d81680d8    3500000.0
fffefdc87fc3  8b0ad38957bf        200.0
fffefebbdca7  b46b153b9c3b          0.0
fffeffc90f0a  281fc6530005       1500.0
              c998aa63cd92       1000.0
ffff0541c189  085281c9911f      65000.0
              d29cad5d67b6      60000.0
ffff2c17ebd9  13d4778faaf4       1500.0
ffff528bbe5c  9a0597fab55d     290000.0
ffff55a390fd  83289fa9c093      13000.0
ffff6e16ee6a  0d60db1a9715          0.0
              25651883c205       5700.0
              524d09933a32       1500.0
              7faf42a62511          0.0
              94de5f04ddb1        450.0
              fd8674fb8dbb          0.0
ffff81e53788  1e88147708bb       8000.0
              3ee5b9e9c861       3000.0
              810b377cf901       7500.0
ffff8ac99d29  e4696d80b63a       1000.0
Name: price, Length: 1503424, dtype: float64

In [223]:
user_df = pd.DataFrame(columns = ['user_id', 'item_id', 'price'])

In [224]:
vals = []

for i in list(user.items()):
    user = i[0][0]
    item = i[0][1]
    price = i[1]
    
    vals.append({'user_id': user, 'item_id': item, 'price': price})

In [225]:
len(vals)

1503424

** Because this contains over 1,500,000 rows our previous approach of a appending row by row is extremely computationally expensive. To work around this, I will feed the rows contained in vals directly into a DataFrame. **

In [336]:
unsorted = pd.DataFrame(vals)
unsorted.head()

        item_id   price       user_id
0  daf6372193bf  9000.0  0000312c4672
1  738274adfd4c  4500.0  0000326c6042
2  8b2644d943b9  2500.0  0000326c6042
3  0668052f1187   600.0  000041bbfe14
4  1f294faa133e   600.0  00007ac91e3b

** This worked but because python dictionaries are not guaranteed to be ordered, we see that our price column is now the 2nd column. We will be feeding these into our Appache Cassandra Database and the column names must line up.**

In [337]:
user_df['user_id'] = unsorted.user_id
user_df['item_id'] = unsorted.item_id
user_df['price'] = unsorted.price

In [338]:
user_df.head()

        user_id       item_id   price
0  0000312c4672  daf6372193bf  9000.0
1  0000326c6042  738274adfd4c  4500.0
2  0000326c6042  8b2644d943b9  2500.0
3  000041bbfe14  0668052f1187   600.0
4  00007ac91e3b  1f294faa133e   600.0

** Delete our unsorted DataFrame to clear memory **

In [339]:
del unsorted

# Load into our Apache Cassandra Database

In [226]:
import cassandra
from cassandra.cluster import Cluster

In [227]:
cluster = Cluster(["127.0.0.1"])
session = cluster.connect()

# Cap Theorem

The CAP theorem, also named Brewer's theorem after computer scientist Eric Brewer, states that it is impossible for a distributed data store to simultaneously provide more than two out of the following three guarantees:[1][2][3]

- Consistency: Every read receives the most recent write or an error

- Availability: Every request receives a (non-error) response – without the guarantee that it contains the most recent write

- Partition tolerance: The system continues to operate despite an arbitrary number of messages being dropped (or delayed) by the network between nodes

In particular, the CAP theorem implies that in the presence of a network partition, one has to choose between consistency and availability. Note that consistency as defined in the CAP theorem is quite different from the consistency guaranteed in ACID database transactions[4].

# Replication

A keyspace is created with a strategy. For development work, the SimpleStrategy class is acceptable. For production work, the NetworkTopologyStrategy class must be set. To change the strategy, two steps are required. Altering the distribution of nodes within multiple datacenters when data is present should be accomplished by adding a datacenter, and then adding data to the new nodes in the new datacenter and removing nodes from the old datacenter.

In [229]:
session.execute("CREATE KEYSPACE IF NOT EXISTS avito WITH REPLICATION = {'class': 'SimpleStrategy', 'replication_factor': 1}")

NetworkTopologyStrategy

Use NetworkTopologyStrategy when you have (or plan to have) your cluster deployed across multiple datacenters. This strategy specifies how many replicas you want in each datacenter.

NetworkTopologyStrategy places replicas in the same datacenter by walking the ring clockwise until reaching the first node in another rack. NetworkTopologyStrategy attempts to place replicas on distinct racks because nodes in the same rack (or similar physical grouping) often fail at the same time due to power, cooling, or network issues.

When deciding how many replicas to configure in each datacenter, the two primary considerations are (1) being able to satisfy reads locally, without incurring cross data-center latency, and (2) failure scenarios. The two most common ways to configure multiple datacenter clusters are:

Two replicas in each datacenter: This configuration tolerates the failure of a single node per replication group and still allows local reads at a consistency level of ONE.
    
Three replicas in each datacenter: This configuration tolerates either the failure of one node per replication group at a strong consistency level of LOCAL_QUORUM or multiple node failures per datacenter using consistency level ONE.

Asymmetrical replication groupings are also possible. For example, you can have three replicas in one datacenter to serve real-time application requests and use a single replica elsewhere for running analytics.

** Network Topology Strategy example **

In [ ]:
#session.execute("ALTER KEYSPACE acme_co WITH REPLICATION = \
  #{'class' : 'NetworkTopologyStrategy', 'dc1' : 3, 'dc2' : 2}")

* dc1, dc2 are your different datacenters

# Set Keyspace

In [230]:
session.set_keyspace("avito")

# Create Tables

** Products **

In [310]:
query = "CREATE TABLE IF NOT EXISTS products"
query = query + "(parent_cat text, category text, price float, PRIMARY KEY (parent_cat, category))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [311]:
for _, row in list(cat_df.iterrows()):
    

    query = "INSERT INTO products (parent_cat, category, price)"
    query = query + " VALUES (%s, %s, %s)"

    try: 
        session.execute(query, tuple(row))
    except Exception as e:
        print(e)

In [312]:
result = session.execute("SELECT * FROM products")
result.one()

Row(parent_cat='Личные вещи', category='Детская одежда и обувь', price=2604730368.0)

In [313]:
for i in result[:10]:
    print(i)

Row(parent_cat='Личные вещи', category='Детская одежда и обувь', price=2604730368.0)
Row(parent_cat='Личные вещи', category='Красота и здоровье', price=128070088.0)
Row(parent_cat='Личные вещи', category='Одежда, обувь, аксессуары', price=2296222464.0)
Row(parent_cat='Личные вещи', category='Товары для детей и игрушки', price=405498656.0)
Row(parent_cat='Личные вещи', category='Часы и украшения', price=202040368.0)
Row(parent_cat='Недвижимость', category='Гаражи и машиноместа', price=1695062784.0)
Row(parent_cat='Недвижимость', category='Дома, дачи, коттеджи', price=68240699392.0)
Row(parent_cat='Недвижимость', category='Земельные участки', price=116017897472.0)
Row(parent_cat='Недвижимость', category='Квартиры', price=157752967168.0)
Row(parent_cat='Недвижимость', category='Коммерческая недвижимость', price=43872079872.0)

# Allow Filtering

In [318]:
result = session.execute("SELECT * from products WHERE price > 20000000")

InvalidRequest: Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

Cassandra knows that it might not be able to execute the query in an efficient way. It is therefore warning you: “Be careful. Executing this query as such might not be a good idea as it can use a lot of your computing resources”.

The only way Cassandra can execute this query is by retrieving all the rows from the table blogs and then by filtering out the ones which do not have the requested value for the time1 column.

If your table contains for example a 1 million rows and 95% of them have the requested value for the time1 column, the query will still be relatively efficient and you should use ALLOW FILTERING.

On the other hand, if your table contains 1 million rows and only 2 rows contain the requested value for the time1 column, your query is extremely inefficient. Cassandra will load 999, 998 rows for nothing. If the query is often used, it is probably better to add an index on the time1 column.

Unfortunately, Cassandra has no way to differentiate between the 2 cases above as they are depending on the data distribution of the table.  Cassandra is therefore warning you and relying on you to make the good choice.

More info : https://www.datastax.com/dev/blog/allow-filtering-explained-2

In [315]:
result = session.execute("SELECT * from products WHERE price > 20000000 ALLOW FILTERING")

In [317]:
for i in result:
    print(i)

Row(parent_cat='Личные вещи', category='Детская одежда и обувь', price=2604730368.0)
Row(parent_cat='Личные вещи', category='Красота и здоровье', price=128070088.0)
Row(parent_cat='Личные вещи', category='Одежда, обувь, аксессуары', price=2296222464.0)
Row(parent_cat='Личные вещи', category='Товары для детей и игрушки', price=405498656.0)
Row(parent_cat='Личные вещи', category='Часы и украшения', price=202040368.0)
Row(parent_cat='Недвижимость', category='Гаражи и машиноместа', price=1695062784.0)
Row(parent_cat='Недвижимость', category='Дома, дачи, коттеджи', price=68240699392.0)
Row(parent_cat='Недвижимость', category='Земельные участки', price=116017897472.0)
Row(parent_cat='Недвижимость', category='Квартиры', price=157752967168.0)
Row(parent_cat='Недвижимость', category='Коммерческая недвижимость', price=43872079872.0)
Row(parent_cat='Недвижимость', category='Комнаты', price=3147422720.0)
Row(parent_cat='Недвижимость', category='Недвижимость за рубежом', price=1212660608.0)
Row(parent_cat='Бытовая электроника', category='Аудио и видео', price=196885440.0)
Row(parent_cat='Бытовая электроника', category='Игры, приставки и программы', price=82438560.0)
Row(parent_cat='Бытовая электроника', category='Настольные компьютеры', price=69503504.0)
Row(parent_cat='Бытовая электроника', category='Ноутбуки', price=133428920.0)
Row(parent_cat='Бытовая электроника', category='Оргтехника и расходники', price=34419256.0)
Row(parent_cat='Бытовая электроника', category='Планшеты и электронные книги', price=43190632.0)
Row(parent_cat='Бытовая электроника', category='Телефоны', price=1938713344.0)
Row(parent_cat='Бытовая электроника', category='Товары для компьютера', price=563706048.0)
Row(parent_cat='Бытовая электроника', category='Фототехника', price=73643360.0)
Row(parent_cat='Транспорт', category='Автомобили', price=23165478912.0)
Row(parent_cat='Транспорт', category='Водный транспорт', price=552882176.0)
Row(parent_cat='Транспорт', category='Грузовики и спецтехника', price=6438169088.0)
Row(parent_cat='Транспорт', category='Мотоциклы и мототехника', price=714161024.0)
Row(parent_cat='Услуги', category='Предложение услуг', price=557178560.0)
Row(parent_cat='Хобби и отдых', category='Билеты и путешествия', price=65728784.0)
Row(parent_cat='Хобби и отдых', category='Велосипеды', price=84512640.0)
Row(parent_cat='Хобби и отдых', category='Книги и журналы', price=120777152.0)
Row(parent_cat='Хобби и отдых', category='Коллекционирование', price=904586624.0)
Row(parent_cat='Хобби и отдых', category='Музыкальные инструменты', price=80818152.0)
Row(parent_cat='Хобби и отдых', category='Охота и рыбалка', price=20114128.0)
Row(parent_cat='Хобби и отдых', category='Спорт и отдых', price=252734352.0)
Row(parent_cat='Для бизнеса', category='Готовый бизнес', price=5209337344.0)
Row(parent_cat='Для бизнеса', category='Оборудование для бизнеса', price=5425002496.0)
Row(parent_cat='Для дома и дачи', category='Бытовая техника', price=260651392.0)
Row(parent_cat='Для дома и дачи', category='Мебель и интерьер', price=2023284352.0)
Row(parent_cat='Для дома и дачи', category='Посуда и товары для кухни', price=21420160.0)
Row(parent_cat='Для дома и дачи', category='Ремонт и строительство', price=1084758784.0)
Row(parent_cat='Животные', category='Другие животные', price=980178688.0)
Row(parent_cat='Животные', category='Кошки', price=97372168.0)
Row(parent_cat='Животные', category='Птицы', price=185111504.0)
Row(parent_cat='Животные', category='Собаки', price=70892048.0)
Row(parent_cat='Животные', category='Товары для животных', price=48080480.0)

** Regions Table **

In [320]:
query = "CREATE TABLE IF NOT EXISTS regions"
query = query + "(region text, city text, price float, PRIMARY KEY (region, city))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [322]:
for _, row in list(region_df.iterrows()):
    

    query = "INSERT INTO regions (region, city, price)"
    query = query + " VALUES (%s, %s, %s)"

    try: 
        session.execute(query, tuple(row))
    except Exception as e:
        print(e)

In [323]:
res = session.execute("SELECT * FROM regions")
res.one()

Row(region='Пермский край', city='Александровск', price=9429850.0)

In [326]:
res = session.execute("SELECT city, MAX(price) FROM regions")
res.one()

Row(city='Александровск', system_max_price=79692128256.0)

In [327]:
res = session.execute("SELECT city, MIN(price) FROM regions")
res.one()

Row(city='Александровск', system_min_price=0.0)

# User Table

In [364]:
query = "CREATE TABLE IF NOT EXISTS users"
query = query + "(user_id text, item_id text, price float, PRIMARY KEY (user_id, item_id))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [365]:
for _, row in list(user_df.iterrows()):
    count += 1
    

    query = "INSERT INTO users (user_id, item_id, price)"
    query = query + " VALUES (%s, %s, %s)"

    try: 
        session.execute(query, tuple(row))
    except Exception as e:
        print(e)

In [359]:
user_df.shape

(1503424, 3)

In [366]:
res = session.execute("SELECT * FROM users")
res.one()

Row(user_id='74f204b636ff', item_id='7b17ab28cebc', price=500.0)

In [367]:
total = []

for i in res:
    total.append(i)

In [368]:
len(total)

1503424

In [370]:
res = session.execute("SELECT * FROM users WHERE user_id = '74f204b636ff';")

In [371]:
for result in res:
    print(result)

Row(user_id='74f204b636ff', item_id='7b17ab28cebc', price=500.0)